{% extends "base.html" %}
{% block title %} Modifier un utilisateur {% endblock %}
{% block body %}
    <div class="container py-5">
        <h1>Modifier un utilisateur</h1>
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-md-6 form-group">
                    {{ form.nickname_user.label }}
                    {{ form.nickname_user(class_="form-control") }}
                    {% for error in form.nickname_user.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="col-md-6 form-group">
                    {{ form.password_user.label }}
                    {{ form.password_user(class_="form-control", type_="password") }}
                    {% for error in form.password_user.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="col-md-6 form-group">
                    {{ form.name_email.label }}
                    {{ form.name_email(class_="form-control") }}
                    {% for error in form.name_email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="col-md-6 form-group">
                    {{ form.icon_user.label }}
                    {{ form.icon_user(class_="form-control") }}
                    {% for error in form.icon_user.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="col-md-6 form-group">
                    {{ form.discord_user.label }}
                    {{ form.discord_user(class_="form-control") }}
                    {% for error in form.discord_user.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="col-md-6 form-group">
                    {{ form.steam_user.label }}
                    {{ form.steam_user(class_="form-control") }}
                    {% for error in form.steam_user.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group">
                {{ form.bio_user.label }}
                {{ form.bio_user(class_="form-control") }}
                {% for error in form.bio_user.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.signature_user.label }}
                {{ form.signature_user(class_="form-control") }}
                {% for error in form.signature_user.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
{% endblock %}

