{% extends "base.html" %}
{% block title %} Catégories {% endblock %}
{% block body %}
    <div class="container py-5">
        <div class="d-sm-flex justify-content-between align-items-center">
            <h1>Catégories</h1>
            <div><a class="btn btn-primary" href="{{ url_for('category_add') }}" cat="button">Ajouter</a></div>
        </div>
        <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                <tr>
                    <th class="align-middle">
                        ID
                    </th>
                    <th class="align-middle">
                        Titre
                    </th>
                    <th class="align-middle">
                        Description
                    </th>
                    <th class="align-middle">
                        Icône
                    </th>
                    <th class="align-middle">
                        Section
                    </th>
                    <th class="align-middle">

                    </th>
                    <th class="align-middle">

                    </th>
                </tr>
                </thead>
            {% endif %}

            {% for row in data %}
                <tbody>
                <tr>
                    <td class="align-middle">
                        {{ row.id_cat }}
                    </td>
                    <td class="align-middle">
                        {{ row.title_cat }}
                    </td>
                    <td class="align-middle">
                        {{ row.description_cat|default("", True) }}
                    </td>
                    <td class="align-middle">
                        <img class="img" src={{ row.icon_char }} style="border: 0;display:block;width:150px;
                             max-height:auto" alt="erreur à l'affichage de l'image">
                    </td>
                    <td class="align-middle">
                        {{ row.title_section|default("", True) }}
                    </td>
                    <td class="text-center" class="align-middle">
                        <a class="btn btn-warning" href="{{ url_for('category_update', id_cat=row.id_cat) }}"
                           cat="button">Modifier</a>
                    </td>
                    <td class="text-center" class="align-middle">
                        <a class="btn btn-danger" href="{{ url_for('category_delete', id_cat=row.id_cat) }}"
                           cat="button">Supprimer</a>
                    </td>
                </tr>
                </tbody>
            {% else %}
                <h4>Aucune catégorie.</h4>
            {% endfor %}
        </table>
    </div>
{% endblock %}

