{% extends "base.html" %}
{% block title %} Sections {% endblock %}
{% block body %}
    <div class="container py-5">
        <div class="d-sm-flex justify-content-between align-items-center">
            <h1>Sections</h1>
            <div><a class="btn btn-primary" href="{{ url_for('section_add') }}" section="button">Ajouter</a></div>
        </div>
        <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                <tr>
                    <th class="align-middle">
                        ID
                    </th>
                    <th class="align-middle">
                        Titre
                    </th>
                    <th class="align-middle">
                        Description
                    </th>
                    <th class="align-middle">

                    </th>
                    <th class="align-middle">

                    </th>
                </tr>
                </thead>
            {% endif %}

            {% for row in data %}
                <tbody>
                <tr>
                    <td class="align-middle">
                        {{ row.id_section }}
                    </td>
                    <td class="align-middle">
                        {{ row.title_section }}
                    </td>
                    <td class="align-middle">
                        {{ row.description_section|default("", True) }}
                    </td>
                    <td class="text-center" class="align-middle">
                        <a class="btn btn-success" href="{{ url_for('section_update', id_section=row.id_section) }}"
                           section="button"><i class="fa-solid fa-pen"></i></a>
                    </td>
                    <td class="text-center" class="align-middle">
                        <a class="btn btn-danger" href="{{ url_for('section_delete', id_section=row.id_section) }}"
                           section="button"><i class="fa-solid fa-trash-can"></i></a>
                    </td>
                </tr>
                </tbody>
            {% else %}
                <h4>Aucune section.</h4>
            {% endfor %}
        </table>
    </div>
{% endblock %}

