{% extends "base.html" %}
{% block title %} Effacer un rôle {% endblock %}
{% block body %}
    <div class="container py-5">
        <h1>Effacer un rôle</h1>
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
        {% if data_linked %}
            <table class="table table-bordered table-sm">
                <h5>Ce rôle est associé avec le/les utilisateur(s) suivant(s) :</h5>
                    <thead>
                    <tr>
                        <th>
                            Nom d'utilisateur
                        </th>
                    </tr>
                    </thead>
                    {% for row in data_linked %}
                        <tbody>
                        <tr>
                            <td>
                                {{ row.nickname_user }}
                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
            </table>
            {% endif %}

            <div class="form-group">
                {{ form.name_role.label }}
                {{ form.name_role(class_="form-control", readonly=true) }}
                {% for error in form.name_role.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            {{ form.submit_delete(class="btn btn-danger") }}

            {{ form.submit_cancel(class="btn btn-primary") }}
        </form>
    </div>
{% endblock %}

