{% extends "base.html" %}
{% block title %} Permissions {% endblock %}
{% block body %}
    <div class="container py-5">
        <div class="d-sm-flex justify-content-between align-items-center">
            <h1>Permissions</h1>
            <div><a class="btn btn-primary" href="{{ url_for('perm_add') }}" perm="button">Ajouter</a></div>
        </div>
        <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                <tr>
                    <th class="align-middle">
                        ID
                    </th>
                    <th class="align-middle">
                        Nom
                    </th>
                    <th class="align-middle">
                        Description
                    </th>
                    <th class="align-middle">

                    </th>
                    <th class="align-middle">

                    </th>
                </tr>
                </thead>
            {% endif %}

            {% for row in data %}
                <tbody>
                <tr>
                    <td class="align-middle">
                        {{ row.id_perm }}
                    </td>
                    <td class="align-middle">
                        {{ row.name_perm }}
                    </td>
                    <td class="align-middle">
                        {{ row.description_perm|default("", True) }}
                    </td>
                    <td class="text-center" class="align-middle">
                        <a class="btn btn-success" href="{{ url_for('perm_update', id_perm=row.id_perm) }}"
                           perm="button"><i class="fa-solid fa-pen"></i></a>
                    </td>
                    <td class="text-center" class="align-middle">
                        <a class="btn btn-danger" href="{{ url_for('perm_delete', id_perm=row.id_perm) }}"
                           perm="button"><i class="fa-solid fa-trash-can"></i></a>
                    </td>
                </tr>
                </tbody>
            {% else %}
                <h4>Aucune permission.</h4>
            {% endfor %}
        </table>
    </div>
{% endblock %}
