{% extends "base.html" %}
{% block title %} Effacer une permission {% endblock %}
{% block body %}
    <div class="container py-5">
        <h1>Effacer une permission</h1>
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <table class="table table-bordered table-sm">
                {% if data_roles_linked %}
                    <h5>Cette permission est associée avec le rôle suivant :</h5>
                {% else %}
                    <h5>Cette permission n'est associée à aucun rôle.</h5>
                {% endif %}
                {% if data_roles_linked %}
                    <thead>
                    <tr>
                        <th>
                            Nom
                        </th>
                    </tr>
                    </thead>
                    {% for row in data_roles_linked %}
                        <tbody>
                        <tr>
                            <td>
                                {{ row.name_role }}
                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                {% endif %}
            </table>


            <div class="form-group">
                {{ form.name_perm.label }}
                {{ form.name_perm(class_="form-control", readonly=true) }}
                {% for error in form.name_perm.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.description_perm.label }}
                {{ form.description_perm(class_="form-control", readonly=true) }}
                {% for error in form.description_perm.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            {{ form.del_conf_btn(class="btn btn-info") }}

            {% if delete_btn %}
                {{ form.del_final_btn(class="btn btn-danger") }}
            {% endif %}

            {{ form.cancel_btn(class="btn btn-primary") }}
        </form>
    </div>
{% endblock %}

